header {
  padding: 156px 0 100px;
}

section {
  padding: 150px 0;
}

h2 {
  text-align: center;
}

.bg-primary text-white{
  height: 900px;
}

.projects {
  height: 300px;
}

.flex-outer li,
.flex-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.flex-outer > li > label,
.flex-outer li p {
  flex: 1 0 120px;
  max-width: 220px;
}

.flex-outer > li > label + *,
.flex-inner {
  flex: 1 0 220px;
}

.flex-outer li button {
  margin-left: auto;
  padding: 8px 16px;
  border: none;
  background: #333;
  color: #f2f2f2;
  text-transform: uppercase;
  border-radius: 2px;
}
#contact {
  font-family: 'Lato', sans-serif;
  background: #3AAFAB;
  color: #fff;
  padding: 50px 0;
}

.flex-inner li {
  width: 200px;
  font-family: 'Lato', sans-serif;

}
flex-inner {
  justify-content: space-between;
}







